
<%= simple_form_for @sf_case, :url => case_form_path(@sf_case), :method => case_form_method(@sf_case) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Subject %>
    <%= f.input :Status %>
    <%= f.input :Origin %>
    <%= f.input :Priority %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, (@sf_case.Id ? "Update" : "Create")%>
  </div>
<% end %>
