<!DOCTYPE html>
<html>
  <head>
    <title>SalesforceConnect</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SalesforceConnect</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/sf_cases">Cases</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
